*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
}

:root {
  --font-family: system-ui;
  --line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: var(--font-family, sans-serif);
  font-size: 1.125rem;
  line-height: var(--line-height, 1.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}
